* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    background: #f6f2f1;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
    
}
.header_nav {
    width: 100%;
    max-width: 1230px;
    background-color: #000000;
    opacity: 0.8;
    margin-bottom:  108px;
    color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
   
}
.header_nav label {
    color: #e0e0e0;
    display: block;
    
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url('../img/7655.png') no-repeat center ;
    margin: 10px;
    background-size: 55px 55px;
    background-color: #ff2d2d;
    border-radius: 50%;
    opacity: 0.7;
    
}
.menu_content {
    padding-top: 6px;
    max-height: 0;
    overflow: hidden;
}
input#menu {
    display: none;
}
input#menu:checked ~ label {
    background: url('../img/close-button.png') no-repeat center;
    background-size: 70px 70px;
    background-color: #ff2d2d;
    border-radius: 50%;
}

input#menu:checked ~ .menu_content {
    max-height: 100%;
    
}

.menu_content ul {
display: flex;
justify-content: space-around;


}
.menu_content ul li {
    margin-left: 10px;
}

.header_nav_menu {
    display: flex;
}

.header_nav ul{
display: flex;
list-style-type: none;
/* width: 50%; */
justify-content: space-around

}
.header_nav ul li {
    padding: 20px 0 20px 0;
}
.header_nav ul li:hover {
    width: auto;
    height: auto;
    background-color: #ff2d2d;
    text-align: center;
    border-radius: 5px;
}
.header_nav ul a {
    text-decoration: none;
    color: #e0e0e0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.49px;
}
.header_search_bar {
    
    background-color: #000000;
    margin-right: 20px;
    overflow: hidden;
}
.header_search_bar_img {
    display: flex;
}
.header_search_bar_img a  {
    display: block;
    width: 30px;
    height: 30px;
    padding: 5px;
    opacity: 0.6;
    cursor: pointer;
    
}
.header_search_bar_img a i {
    
color: #ff2d2d;
font-size: 200%;
}

.header_search_bar_input{
    height: 0px;
    width: 250px;
    border: none;
}


.header_search_bar.header_search_bar_active {
    width: 350px;
    height: auto;
    border-radius: 5px;
    background-color: #e0e0e0;
    
    overflow: hidden;
   
    
}
.header_search_bar.header_search_bar_active a{
    /*"\f002"*/
    border-radius: 5px;
    margin-top: 5px;
}

.header_search_bar a i:before{
    content: "\f002";
}

.header_search_bar.header_search_bar_active a i:before{
    content: "\f010";
}


    


.header_search_bar_input_higher {
    height: 50px;
    width: 290px;
    background-color: #e0e0e0;
    outline: none;
    font-size: 150%;
    padding: 0 0 0 10px;
    transition: 0.5s;
    color: #000000;

}
/* .header_search_bar.header_search_bar_active:before {

background-image: url('../img/close-button.png');
    background-size: 50px 50px;
    position: absolute;
    width: 50px; 
    height: 50px;
    content:"";
    transform: translateX(300px) translateY(30px);
} */




.header_grid__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 90px;
    justify-items: center;
  align-items: center;
  margin: auto;
    width: 100%;
    max-width: 1230px;
    margin-bottom: 30px;
}
.header_grid__wrapper a{
width: 100px;
height: 30px;
display: block;
border-radius: 5px;
background-color: #ff2d2d;
border: 1px solid #ff2d2d;
text-decoration: none;
color: #ffffff;
padding: 10px 30px;
text-align: center;
opacity: 0.8;
}
.header_grid__wrapper a:hover {
   
    transition: cubic-bezier(0.19, 1, 0.22, 1);
    background-color: #ffffff;
    text-decoration: none;
    color: #ff2d2d;
    opacity: 0.9;
    padding: 10px 30px;
    border: 1px solid #ff2d2d;
}
.header_grid__wrapper_left h1 {
text-transform: uppercase;
font-family: 'Open Sans', sans-serif;
font-size: 60px;
font-weight: 400;
line-height: 72px;
letter-spacing: 5px;
text-shadow: 3px 3px;

}
.header_grid__wrapper_left p {
    margin-bottom: 30px;
}
.header_grid__wrapper_right iframe{
    border-radius: 5px;
}


/* Section we can provide */
.we_can_provide {
    width: 100%;
    max-width: 1230px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.8;
    margin-bottom: 30px;
}

.we_can_provide:after {
    display: block;
    height: 2px;
    background-color: #ececec;
    content: " ";
    width: 1140px;
    margin: 0 auto;
    margin-top: 30px;
}

.we_can_provide__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.we_can_provide__wrapper_left h1{
text-transform: uppercase;
font-size: 200%;
text-shadow: 1px 1px;
    letter-spacing: 3px;

}

.we_can_provide__wrapper_left p {
    margin-bottom: 20px;
}

.we_can_provide__wrapper_left a {
    width: 100px;
    height: 30px;
    display: block;
    border-radius: 5px;
    background-color: #ffffff;
    text-decoration: none;
    color: #ff2d2d;
    padding: 10px 30px;
    border: 1px solid #ff2d2d;
    text-align: center;

}
.we_can_provide__wrapper_left a:hover {
    width: 100px;
    height: 30px;
    display: block;
    border-radius: 5px;
    background-color: #ff2d2d;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 30px;
    transition: cubic-bezier(0.19, 1, 0.22, 1);
}
.we_can_provide__wrapper_right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.we_can_provide__wrapper_right__left i {
    font-size: 200%;
    color: #ff2d2d;
    margin-bottom: 10px;
}
.we_can_provide__wrapper_right__left h2 {
    margin-bottom: 5px;
    font-size: 80%;
}
.we_can_provide__wrapper_right__left p {
    margin-bottom: 10px;
    font-size: 80%;
}
    
/* Get in touch */
.get_in_touch {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    width: 100%;
    max-width: 1230px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;

}
.get_in_touch__contacts h3 {
    opacity: 0.8;
    margin-bottom: 10px;
    color: white;
    font-weight: 300%;
    text-shadow: 2px 2px 4px #ff2d2d;
}
.get_in_touch__contacts:after {
    display: block;
    height: 2px;
    background-color: #ff2d2d;
    content: " ";
    width: 100px;
    /* margin: 0 auto; */
    margin-top: 20px;
    opacity: 0.8;
}
.get_in_touch_map iframe {
    border-radius: 7px;
}

.subscribe {
    background:  url(/img/glass.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    max-height: 400px;
    
    max-width: 1230px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;

    
    
}
.sibscribe_head {
    text-align: center;
}
.sibscribe_head h2 {
    margin-bottom: 10px;
}
.sibscribe_head p {
    margin-bottom: 10px;


}
.subscribe_input {
    display: flex;
    justify-content: center;
    
    
}
.subscribe_input input {
    background-origin: none;
    border-radius: 5px;
    padding: 5px 10px;;
    border: none;
    margin-right: 15px;
    width: 300px;
}
.subscribe_input a {
    width: 90px;
    height: 30px;
    display: block;
    border-radius: 5px;
    background-color: #ff2d2d;
    border: 1px solid #ff2d2d;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 30px;
    line-height: 30px;

    text-align: center;
    opacity: 0.8;
    text-transform: uppercase;
}

.subscribe_input a:hover {
    transition: cubic-bezier(0.19, 1, 0.22, 1);
    background-color: #ffffff;
    text-decoration: none;
    color: #ff2d2d;
    opacity: 0.9;
    /* padding: 10px 30px; */
    border: 1px solid #ff2d2d;
}

.future_products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 100%;
    max-width: 1230px;
    opacity: 0.8;
    margin-bottom: 30px;

}
.future_products h1 {
    text-transform: uppercase;
    text-shadow: 2px 2px;
    letter-spacing: 5px;
    font-size: 200%;
}

.future_products p:after {
    display: block;
    height: 2px;
    background-color: #ff2d2d;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.future_products__links {
    width: 100%;
    max-width: 1140px;
    margin-bottom: 30px;
    
    
}
.future_products__links ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.future_products__links ul li {
    list-style-type: none;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px red;
}
.future_products__links ul li:hover {
color: blue;
transition: .5s;
cursor: pointer;

}

.future_products__img {
    width: 100%;
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
  
}
.future_product_img_hide {
    display: block;
    width: 300px; 
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.future_products__img img{
    width: 100%;
    height: auto;
    
}

.get_in_touch_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 100%;
    max-width: 1230px;
    opacity: 0.8;
    margin-bottom: 30px;
}
.get_in_touch_form p:after {
    display: block;
    height: 2px;
    background-color: #ff2d2d;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
    opacity: 0.8;
    align-self: center;
    margin-bottom: 30px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 100%;
    max-width: 1140px;
    margin-bottom: 30px;
}
.form_input {
    margin-bottom: 15px;
}
.form_input input {
    background: rgba(128, 128, 128, 0.356);
    border-radius: 5px;
    
    border: none;
    
    padding: 10px 15px;
    
}
.form_input input:first-child {
    margin-right: 15px;
}
 .form textarea {
    width: 33.5%;
    height: 200px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: rgba(128, 128, 128, 0.356);
    border: none;
    padding: 15px;

}
textarea:focus,
input:focus {
    outline: none;
}

.form a {
    width: 200px;
    height: 30px;
    display: inline-block;
    border-radius: 5px;
    background-color: #ff2d2d;
    border: 1px solid #ff2d2d;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 30px;
    line-height: 30px;
    text-align: center;
    opacity: 0.8;
    text-transform: uppercase;
}

.form a:hover {
    transition: cubic-bezier(0.19, 1, 0.22, 1);
    background-color: #ffffff;
    text-decoration: none;
    color: #ff2d2d;
    opacity: 0.9;
    /* padding: 10px 30px; */
    border: 1px solid #ff2d2d;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    padding: 30px 0;
    color: #e0e0e0;
    opacity: 0.8;


}
.footer_icons a {
    display: inline-block;
    background-color: #e0e0e0;
    padding: 8px;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.footer_icons i{
color: #000000;
line-height: 30px;


}

